body{
    font-family: "open sans", sans-serif;
    margin-top: 60px;
}

.nav-item {
  font-weight: 600;
}

.carousel-container {
    max-width: 1400px; /* Ancho máximo del contenedor */
    max-height: 200px;
   
  }

#myCarousel {
    width: 100%; /* Ancho completo del carrusel */
  }

  /* Estilos para las imágenes del carrusel */
#myCarousel .carousel-item img {
    max-height: 400px; 
    width: 100%; 
    object-fit: cover; /* Cubrir el contenedor manteniendo la proporción */
  }
.nav-item {
    font-weight: 600;
}

.card-img-top {
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
    height: 300px; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    object-fit: cover;
}

.card {
    height: 100%;
}