body{
    font-family: "open sans", sans-serif;
    margin-top: 60px;
}

.nav-item {
    font-weight: 600;
}

.card-img-top {
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
    height: 300px; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    object-fit: cover;
}

.card {
    height: 100%;
}